@media (max-width: 480px) {
  #page-report-feedbackdashboard-index .mr-auto {
    display: block;
  }
  #page-report-feedbackdashboard-index .page-header-headings h1 {
    font-size: 30px;
  }
}

table#feedbackdashboard {
    width: 100%;
}

#feedbackdashboard table, p{
  font-size: 15px
}

#feedbackdashboard th{
  text-align: left;
}

#feedbackdashboard th, td{
  padding: 5px;
}

#feedbackdashboard td{
  border-bottom: 1px solid #eee;
}

.feedbackdashboard_unit {
  margin-bottom: 50px;
}

.feedbackdashboard_unit .cell {
  width: 16.666%;
}

#page-report-feedbackdashboard-index #print_btn {
  float: right;
}

@media print {
  #page-report-feedbackdashboard-index #page {
    margin-top: 0 !important;
  }
  #page-report-feedbackdashboard-index #region-main {
    padding-top: 0 !important;
  }
  #page-report-feedbackdashboard-index #print_btn {
    display: none;
  }
  #page-report-feedbackdashboard-index #page-footer {
    display: none;
  }
}
