table#feedbackoverview {
    width: 100%;
}

#feedbackoverview table, p{
  font-size: 15px
}

#feedbackoverview th{
  text-align: left;
}

#feedbackoverview th, td{
  padding: 5px;
}

#feedbackoverview td{
  border-bottom: 1px solid #eee;
}

.feedbackoverview_unit {
  margin-bottom: 50px;
}

.feedbackoverview_unit .cell {
  width: 16.666%;
}

#page-report-feedbackoverview-index #print_btn {
  float: right;
}

@media print {
  #page-report-feedbackoverview-index #page {
    margin-top: 0 !important;
  }
  #page-report-feedbackoverview-index #region-main {
    padding-top: 0 !important;
  }
  #page-report-feedbackoverview-index #disclaimer {
    display: none;
  }
  #page-report-feedbackoverview-index #print_btn {
    display: none;
  }
  #page-report-feedbackoverview-index #page-footer {
    display: none;
  }
}
